monthly_data/115/2020-01-115-missing.xlsx
monthly_data/115/2020-01-115.xlsx
monthly_data/115/2020-02-115-missing.xlsx
monthly_data/115/2020-02-115.xlsx
monthly_data/20/2020-01-cut-missing.xlsx
monthly_data/20/2020-01-cut.xlsx
monthly_data/20/2020-02-cut-missing.xlsx
monthly_data/20/2020-02-cut.xlsx
monthly_data/results/Grouped_Results/grouped_2020-01-Availability-Results.csv
monthly_data/results/Grouped_Results/grouped_2020-02-Availability-Results.csv
monthly_data/uploads/2020-01/2020-01-cnt.zip
monthly_data/uploads/2020-01/2020-01-grd.zip
monthly_data/uploads/2020-01/2020-01-met.zip
monthly_data/uploads/2020-01/2020-01-sum.zip
monthly_data/uploads/2020-01/2020-01-tur.zip
monthly_data/uploads/2020-02/2020-02-cnt.zip
monthly_data/uploads/2020-02/2020-02-grd.zip
monthly_data/uploads/2020-02/2020-02-met.zip
monthly_data/uploads/2020-02/2020-02-sum.zip
monthly_data/uploads/2020-02/2020-02-tur.zip
