autopep8
certifi
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
entrypoints
et-xmlfile
flake8
Flask
Flask-Caching
Flask-Compress
future
itsdangerous
jdcal
Jinja2
MarkupSafe
mccabe
numpy
openpyxl
pandas
plotly
pycodestyle
pyflakes
pyodbc
python-dateutil
pytz
retrying
six
Werkzeug
wincertstore
xlrd
